#menu {
    /*background-color: #0a2463;*/
    background-color: #00f0dc;
    font-weight: bolder;
}

.menu-item {
    padding-top: 20px;
    height: 24vh;
    text-align: center;
    color: white;
    font-size: 30px;
}

a {
    /*color: #35ffff;
    color: #02ffea;
    color: #0a2463;*/
    color: white;
}
